@import '../../../../docs/css/mixing.scss';

.quoteArea {
  padding: 114px 0px;

  .sectionTitle {
    margin-bottom: 0;
  }
}

.quoteWrap {
  overflow: hidden;

  .quoteVideo {
    float: left;
    position: relative;
    margin-right: 32px;

    @media (max-width:767px) {
      margin-right: 0;
      float: none;
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }

    button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $baseCOlor;
      font-size: 16px;
      width: 70px;
      height: 70px;
      background: #fff;
      border-radius: 50%;
    }
  }

  p {
    overflow: hidden;
  }
}
