.instagramItems {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -3px -3px;

  li {
    width: 33.33%;
    padding: 3px;

    a {
      display: block;

      img {
        border-radius: 3px;
      }
    }
  }
}
