@import '../../../../docs/css/mixing.scss';

.contactArea {
  min-height: 960px;
  background: $grayBg;
  padding: 104px 0px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    position: absolute;
    right: 105px;
    top: -60px;
    content: url(../../../images/icons/contact.png);
    z-index: -1;
  }
}
